html,body{
  background-image: url('/src/assets/img/Libros2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Numans', sans-serif;
  }
  
body {
   margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 0px;
    max-width: 600%;
    height: 5px;
    border: 1px solid #9c9c9c;
    background-color: #FCC2A8;
    margin-left: 230px;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }

  h1{
    font-size: 280%;
    color: #FCC2A8;
    text-align: center;
    font-weight: bold;
    
}

h2{
    font-size: 180%;
    color: #17a2b8;
    text-align: center;
    font-weight: bold;
}

p {
  color: #FCC2A8;
  text-align: justify;
  font-size: 23px;
  font-style: italic;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif Helvetica, sans-serif;
    
}

.container1 {
  max-width: 93%;
  margin-top: 18px;
  margin: auto;
  

}