.col1{    
    padding: 0px;
    margin-top: 10px;
    max-width:80%;
    margin-inline: 10px;
    height: inherit;
    
}

.col2{  
    padding: 0px;
    margin-top: 10px;
    max-width: 80%;
    margin-inline: 50px;
    
}

h4{
    font-size: 130%;
    color:white;
    text-align: right;
    font-weight: lighter;
    
}

h5{
    font-size: 120%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FCC2A8;
    text-align: left;
    font-weight: bolder;
    font-style: italic;
    
}



